.about {
  padding-top: 51px;
  padding-left: calc(7vw - 20px);
  padding-right: calc(7vw - 20px);
  background-color: #fff5e0;
  min-height: 100vh;
}

.mission-container,
.expectations-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.mission-container > div,
.expectations-container > div {
  flex: 1;
  padding: 20px;
  max-width: 50%;
}

.mission-statement h2, .expectations h2 {
  margin-bottom: 20px;
}

.image-container {
  width: 100%;
}

.image-container img {
  width: 100%;
  object-fit: cover;
  border-radius: 2%;
  object-position: top;
  height: 500px;
}

@media (max-width: 768px) {
  .mission-container,
  .expectations-container {
    flex-direction: column;
  }

  .mission-container > div,
  .expectations-container > div {
    padding: 15px;
    max-width: 100%;
  }

  .mission-statement, .expectations {
    text-align: center;
  }
}