* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body, #root {
  height: 100%;
  margin: 0;
  background-color: #fff5e0;
}

body {
  font-family: 'Lato', sans-serif;
  /* font-size: 16px; */
  line-height: 1.6;
}


h1, h2, h3, h4, h5, h6 {
  font-family: 'Bitter', serif;
}

.Navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  background-color: rgba(1, 1, 1);
  z-index: 1000;
  flex-wrap: wrap;
  min-height: 51px;
}

.Navbar ul {
  display: flex;
  list-style-type: none;
  gap: 2rem;
}

li * {
  color: white;
}

a {
  text-decoration: none;
}

.navbar-logo {
  height: 45px;
  max-height: 100%;
}

.home {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  padding-top: 51px;
  margin: 0;
}

.home-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.home::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.home-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  z-index: 2;
  width: 100%;
  padding: 10vh 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.title {
  padding: 5dvh 30px;
  font-weight: 600;
  font-size: clamp(2rem, 5vw, 4rem);
}

.bio {
  padding: 30px;
  font-size: clamp(1rem, 2vw, 1.5rem);
}

.title, .bio {
  max-width: 600px;
  width: 100%;
  min-width: 300px;
  margin: 0 auto;
  padding: 0 10px;
}

.cta-button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  background-color: #f36b2b;
  border: none;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  width: fit-content;
}

.cta-button:hover {
  background-color: #d65a23;
}

@media (max-width: 768px) {
  .title {
    font-size: clamp(1.5rem, 5vw, 3rem);
    padding: 0 20px;
  }

  .home-text {
    width: 70vw;
    gap: 20px;
  }

  .bio {
    font-size: clamp(0.8rem, 2vw, 1.2rem);
    padding: 0 20px;
  }

  .cta-button {
    margin-top: 30px;
  }
}
