* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding-top: 51px;
}

.Navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px;
  background-color: rgba(1, 1, 1);
  gap: 2rem;
  flex-wrap: wrap;
}

.Navbar ul {
  display: flex;
  list-style-type: none;
  gap: 2rem;
}

li * {
  color: white;
}

a {
  text-decoration: none;
}

.navbar-logo {
  height: 45px;
  max-height: 100%;
}

.home {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}

@media (max-width: 768px) {
  .home {
    grid-template-columns: 1fr;
  }
}

.title {
  text-align: center;
  padding: 5vh 2rem;
  font-weight: 600;
  font-size: clamp(1.5rem, 3vw, 3rem);
}

.bio {
  padding: 2rem;
  font-size: clamp(1rem, 2vw, 1.5rem);
}

.container {
  grid-column: span 2;
  padding: 0px;
}

.home img {
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  object-position: bottom left;
  border-radius: 5px;
}

p {
  font-size: clamp(1rem, 2vw, 1.5rem);
}
